{% extends "base.html.twig" %}

{% block title %}blog artistique{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="mb-5">
            Blog artistique personnel
        </h1>
        <img src="/images/camille.jpg" alt="snowtricks image" class="d-block w-100 mb-4 mx-auto">
        <p>
            Ce site est un blog artistique, que j'ai fait pour moi même, hors projets d'études, présente mes différentes créations artistiques : dessins, photos, textes, ...
        </p>

        <h3 class="mt-5 mb-4">
            informations techniques :
        </h3>

        <table class="table table-striped">
            <tr>
                <td>
                    langages
                </td>
                <td>
                    HTML5, CSS3, PHP, jQuery
                </td>
            </tr>
            <tr>
                <td>
                    frameworks
                </td>
                <td>
                    Symfony 4, Bootstrap 4, twig
                </td>
            </tr>
            <tr>
                <td>
                    URL
                </td>
                <td>
                    <a href="https://blog.frederic-malard.com">blog.frederic-malard.com</a>
                </td>
            </tr>
            <tr>
                <td>
                    durée de création du site
                </td>
                <td>
                    3-4 jours
                </td>
            </tr>
            <tr>
                <td>
                    versionning
                </td>
                <td>
                    Github
                </td>
            </tr>
            <tr>
                <td>
                    bonnes pratiques
                </td>
                <td>
                    utilisation de services, respect du pattern MVC, correctement commenté, ...
                </td>
            </tr>
            <tr>
                <td>
                    particularité
                </td>
                <td>
                    le design a été personnalisé et particulièrement travaillé pour ce site.
                </td>
            </tr>
        </table>
    </div>

{% endblock %}