{% extends "base.html.twig" %}

{% block title %}accueil{% endblock %}

{% block body %}

    {# présentation générale # }
    <div class="d-flex align-items-center justify-content-around w-100">
        <h1 class="display-4">
            portfolio de <br>
            <strong>
                Frédéric Malard
            </strong>
        </h1>
        <img class="d-block" src="/images/photoFredericMalard.jpg" alt="photo personnelle" width="150px">
    </div>
    <hr class="my-5">#}

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="recipientBulle">
                <a href="https://snowboard.frederic-malard.com/">
                    <img src="/images/bulleSnow.png" alt="musique" class="bulle">
                </a>
            </div>
            <p class="text-center">
                <a href="{{ path("snowtricks") }}">
                    infos techniques
                </a>
            </p>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="recipientBulle">
                <a href="https://blog.frederic-malard.com/">
                    <img src="/images/bulleBlog.png" alt="texte" class="bulle">
                </a>
            </div>
            <p class="text-center">
                <a href="{{ path("blog_artistique") }}">
                    infos techniques
                </a>
            </p>
        </div>
        <div class="col col-md-4 ">
            <div class="recipientBulle">
                <a href="https://www.linkedin.com/in/frédéric-malard-64b907189">
                    <img src="/images/bulleLinkedin.png" alt="dessins" class="bulle">
                </a>
            </div>
            {#<p class="text-center">
                <a href="{{ path("moi") }}">
                    A propos de moi
                </a>
            </p>#}
        </div>
    </div>

    <div class="jumbotron mt-5">
        <p class="lead">
            Bienvenue sur mon portfolio. Je m'appelle Frédéric Malard{#, j'ai {{ myAge }} ans#}, et je suis étudiant en informatique. Je suis une formation de développeur web, principalement accès sur <a href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony">PHP et symfony</a>, chez openclassrooms. J'ai auparavant fait une <a href="https://formations.umontpellier.fr/fr/formations/sciences-technologies-sante-STS/licence-XA/licence-informatique-program-fruai0342321nprme136/informatique-subprogram-informatique.html">licence informatique</a> à la <a href="https://sciences.edu.umontpellier.fr/">faculté des sciences de montpellier</a>, que j'ai suivi jusqu'en 3ème année, avant un cours passage à l'ESMA montpellier pour étudier le cinéma d'animation 3D.
        </p>
        <p class="lead">
            Je vous invite à cliquer sur une des bulles ci dessus pour accéder à deux sites que j'ai créé, ou à mon profile linkedin. Vous pouvez aussi cliquer sur les liens sous les bulles, pour accéder à des informations techniques concernant les sites, ou à des informations supplémentaires me concernant.
        </p>
    </div>

{% endblock %}