<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>frederic malard - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css">
        <link rel="stylesheet" href="/css/perso.css">
        <link rel="shortcut icon" href="/favicon/favicon.png">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# ajouter en-tête avec liens vers autres sites ? (blog perso, louvre, écrivain, site asso lettres ou autre quand sera fait, etc) #}

        {# note : héberger site asso lettres ou autre direct sur OVH sur mon plan pro ! J'ai droit a 10 site, rien ne m'interdit d'en créer avec un nom de domaine (pas un sous domaine, pas xxxx.frederic-malard.com !) New site asso nécessite uniquement un new nom de domaine (pas très cher, environ 9€/an sur OVH, voir même domaine wix gratuit !), pas autre hébergement ! #}

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="haut">
            <a class="navbar-brand" href="{{ path('home') }}">
                Frédéric Malard
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://snowboard.frederic-malard.com">snowtricks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://blog.frederic-malard.com">blog artistique</a>
                    </li>
                    {#<li class="nav-item">
                        <a class="nav-link" href="{{ path('demineur') }}">démineur (jQuery)</a>
                    </li>
                    {#<li class="nav-item">
                        <a class="nav-link" href="https://ecrivain.frederic-malard.com">blog écrivain (PHP SQL)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://montpellier.frederic-malard.com">montpellier (WP)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">cahier des charges</a>
                    </li>#}
                </ul>
            </div>
        </nav>

        <div class="container my-5 {#jumbotron parDefaut#}">
            {% block body %}{% endblock %}
        </div>

        <footer class="container">
            <p class="text-right my-5">
                email : <a href="mailto:frederic.malard.pro@gmail.com">frederic.malard.pro@gmail.com</a>
            </p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
